/* Base се элементы  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    transition: 0.75s;
    white-space: pre-line;
    background-color: #9c0f42;
}


/* Quote */
.quote {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    width: 550px;
    margin: 0 0 0 -275px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

#quote-text {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 20px;
}

#quote-author {
    text-align: right;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#quote-text:before {
    font-family: FontAwesome;
    content: "\f10d";
    margin-right: 15px;
}


/* Buttons */
.buttons {
    display: flex;
    justify-content: space-between;
}




#new-quote {
    width: 130px;
    color: white;
    background-color: #3e341c;
    border: none;
    cursor: pointer;
    font-size: 1em;
    line-height: 2.5;
}

#show-again {
    width: 200px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    line-height: 1.2;
    /*
    float: right;
    justify-content: flex-end
    */
}



#new-quote:focus {
    outline: none;
}
